.bg-success-col {
    background-color:rgb(122 235 183);
    color: rgb(0, 0, 0);
}

.bg-warning-col {
    background-color:rgb(244 214 126);
    color: rgb(0, 0, 0);
}

.bg-danger-col {
    background-color:rgb(239 104 117);
    color: rgb(255, 255, 255);
}